<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="patient1" class="com.javaSpringCore.Patient">
		
		<property name="patientId" value= "1"/>
		<property name="patientName" value= "Rushi"/>
		<property name="patientAddress" value="Pune"/>
		
		
	</bean>

	
</beans>